<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" routerLink="userdetails">User Details</a>
    <a class="nav-link" routerLink="complains">Complains <span class="sr-only">(current)</span></a>
          <a class="nav-link" routerLink="notifications">Notifications</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  